body {
  font-family: "Noto Sans TC", "Segoe UI", "Microsoft JhengHei",
    "Helvetica Neue", Arial, sans-serif;
  line-height: 1.5;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

// 改造主要按鈕文字顏色: 白色
.btn-primary {
  color: $white;
  &:hover {
    color: $white;
  }
  .btn-check:focus + &,
  &:focus {
    color: $white;
  }
  .btn-check:checked + &,
  .btn-check:active + &,
  &:active,
  &.active,
  .show > &.dropdown-toggle {
    color: $white;
  }
  &:disabled,
  &.disabled {
    color: $white;
  }
}
.btn-outline-primary {
  &:hover {
    color: $white;
  }
  &:active,
  &.active,
  .show > &.dropdown-toggle {
    color: $white;
  }
}
.bg {
  &-cover {
    background-size: cover;
  }
  &-center {
    background-position: center;
  }
}

@include media-breakpoint-down(md) {
  .opacity-1 {
    opacity: 0.1;
  }
}
@include media-breakpoint-up(md) {
  .w-md-50 {
    width: 50% !important;
  }
}
