.scroll-top {
  $_main-color: rgba($puerto-rico, 0.8);
  display: none;
  background-color: $_main-color;
  border-radius: 50%;
  border: 2px solid transparent;
  position: fixed;
  bottom: 25px;
  right: 20px;
  width: 34px;
  height: 34px;
  z-index: $zindex-fixed;
  box-shadow: $box-shadow-sm;
  transition: display 0.8s ease-in-out, background-color 0.1s ease-out;
  & > a {
    color: $white;
  }
  &.active {
    display: block;
  }
  &:hover {
    border-color: $puerto-rico;
    background-color: $white;
    & > a {
      color: $puerto-rico;
    }
  }
  .scroll-top__icon {
    position: absolute;
    top: -6px;
    font-size: 1.7rem;
  }
  .scroll-top__text {
    font-size: 0.8rem;
    padding-top: 9px;
  }
}

.toast__box {
  position: fixed;
  top: 72px;
  right: 4px;
  z-index: $zindex-fixed;

  @include media-breakpoint-down(md) {
    & {
      top: 55px;
      right: 5px;
    }
  }
}
