.product{
  &__img{
    max-height: 303px;
    overflow: hidden;
    position: relative;
  }
  &__description{
    max-height: 100px;
    overflow: hidden;
  }
}
.productsDetails{
  min-height: calc( 100vh - 200px);
}