.hero {
  position: relative;
  &__bg {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: url(https://images.unsplash.com/photo-1573906445622-3e98d4445256?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1950&q=80);
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    z-index: -10;
    &::after {
      content: "";
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background: rgba(0, 0, 0, 0.2);
      z-index: -2;
    }
    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      width: 100%;
      height: 80px;
      background-image: url("~@/assets/image/bg-wave.png");
      z-index: -1;
      background-repeat: repeat-x;
    }
  }
  &__content {
    min-height: calc(100vh - 20px);
  }
  &__title {
    font-size: 5.5rem;
  }
  &__subtitle {
    font-size: 1.2rem;
    font-weight: 300;
  }
}

@include media-breakpoint-down(md) {
  .hero {
    margin-top: 40px;
    &__bg {
      bottom: 40px;
      &::after {
        height: calc(100% - 20px);
      }
    }
  }
}

.booking-reason__item {
  clip-path: polygon(0 0, 85% 0, 100% 50%, 85% 100%, 0 100%, 15% 50%);
}
