@mixin navbarDark {
  .navbar-brand {
    color: $navbar-dark-brand-color;

    &:hover,
    &:focus {
      color: $navbar-dark-brand-hover-color;
    }
  }

  .navbar-nav {
    .nav-link {
      color: $navbar-dark-color;

      &:hover,
      &:focus {
        color: $navbar-dark-hover-color;
      }

      &.disabled {
        color: $navbar-dark-disabled-color;
      }
    }

    .show > .nav-link,
    .nav-link.active {
      color: $navbar-dark-active-color;
    }
  }

  .navbar-toggler {
    color: $navbar-dark-color;
  }

  .navbar-text {
    color: $navbar-dark-color;
    a,
    a:hover,
    a:focus {
      color: $navbar-dark-active-color;
    }
  }
}
@mixin navbarLight {
  .navbar-brand {
    color: $navbar-light-brand-color;

    &:hover,
    &:focus {
      color: $navbar-light-brand-hover-color;
    }
  }

  .navbar-nav {
    .nav-link {
      color: $navbar-light-color;

      &:hover,
      &:focus {
        color: $navbar-light-hover-color;
      }

      &.disabled {
        color: $navbar-light-disabled-color;
      }
    }

    .show > .nav-link,
    .nav-link.active {
      color: $navbar-light-active-color;
    }
  }

  .navbar-toggler {
    background-color: $primary;
    color: $white;
  }
  .navbar-text {
    color: $navbar-light-color;

    a,
    a:hover,
    a:focus {
      color: $navbar-light-active-color;
    }
  }
}

.navbar {
  transition: 0.5s background-color;
  @include navbarLight();
  .navbar-brand {
    font-size: 1.8rem;
  }
  .nav__icon {
    color: $primary;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    & > .material-icons {
      line-height: 0;
      font-size: 2rem;
    }
  }
  .nav__carts {
    position: absolute;
    top: -10px;
    right: 11px;
    display: block;
    width: 1.2rem;
    height: 1.2rem;
    line-height: 1.1rem;
    font-size: 0.7rem;
    border-radius: 50%;
    background-color: $red;
    color: $white;
    text-align: center;
  }
  .navbar-toggler {
    & > .material-icons {
      font-size: 2rem;
    }
  }
}

.navbar-dark {
  @include navbarDark();
  .nav__icon {
    color: $white;
  }
}

@include media-breakpoint-down(md) {
  .navbar,
  .navbar-dark {
    background-color: $white;
    padding-top: 0;
    padding-bottom: 0;
    @include navbarLight();
    & > .container-fluid {
      padding-right: 0px;
    }
    .navbar-brand {
      font-size: 1.6rem;
      padding: 0;
    }
    .nav__icon {
      color: $primary;
    }
  }
}

.navbar__light {
  .nav__icon {
    color: $primary;
  }
  background-color: rgba($white, 0.8);
  box-shadow: $box-shadow-sm;
  @include media-breakpoint-down(md) {
    background-color: $white;
  }
  @include navbarLight();
}

