
/* background-color 
 * add responsive 
 */
$utilities: map-merge(
  $utilities,
  (
    "background-color": map-merge(
      map-get($utilities, "background-color"),
      (
        responsive: true,
      ),
    ),
  )
);

// navbar 
$navbar-padding-y:                  $spacer * .5 !default;

$navbar-dark-color:                 $white;
$navbar-dark-hover-color:           rgba($white, .75);
$navbar-dark-active-color:          $white;
$navbar-dark-disabled-color:        rgba($white, .25);
$navbar-dark-toggler-border-color:  rgba($white, .0);

$navbar-light-color:                $primary;
$navbar-light-hover-color:          rgba($primary, .75);
$navbar-light-active-color:         $primary;
$navbar-light-disabled-color:       rgba($primary, .3);
$navbar-light-toggler-border-color: rgba($primary, .0);


$navbar-toggler-padding-y:          .35rem;
$navbar-toggler-padding-x:          .6rem;
$navbar-toggler-font-size:          $font-size-lg;
$navbar-toggler-border-radius:      0;
$navbar-toggler-focus-width:        0;
$navbar-toggler-transition:         box-shadow .15s ease-in-out;

$navbar-light-brand-color:          $navbar-light-active-color;
$navbar-light-brand-hover-color:    $navbar-light-active-color;
$navbar-dark-brand-color:           $navbar-dark-active-color;
$navbar-dark-brand-hover-color:     $navbar-dark-active-color;