// Variables
//
// Variables should follow the `$component-state-property-size` formula for
// consistent naming. Ex: $nav-link-disabled-color and $modal-content-box-shadow-xs.

// Custom
$spacer: 1rem;
$spacers: (
  0: 0,
  1: $spacer * .25,
  2: $spacer * .5,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 2,
  6: $spacer * 2.5,
  7: $spacer * 3,
  8: $spacer * 3.5,
  9: $spacer * 4,
);

$link-decoration: none;

$puerto-rico: #67b5b6;
$puerto-rico-100: #edf9f6;
// $puerto-rico-100: #A6DCCF;
$puerto-rico-200: #639F8D;
$puerto-rico-300: #498471;
$white: #FFFFFF;
$white-100: #EAEAEA;
$white-200: #D5D5D5;
$white-300: #BABABA;
$black:    #000;
$red: #dc3545;

$primary: $puerto-rico;
$light: $puerto-rico-100;

$input-btn-focus-width: 0;
$input-btn-focus-box-shadow: 0;

// ==========================
@import "~bootstrap/scss/variables";
// ==========================


// navbar 
$navbar-padding-y:                  $spacer * .5 !default;

$navbar-dark-color:                 $white;
$navbar-dark-hover-color:           rgba($white, .75);
$navbar-dark-active-color:          $white;
$navbar-dark-disabled-color:        rgba($white, .25);
$navbar-dark-toggler-border-color:  rgba($white, .0);

$navbar-light-color:                $primary;
$navbar-light-hover-color:          rgba($primary, .75);
$navbar-light-active-color:         $primary;
$navbar-light-disabled-color:       rgba($primary, .3);
$navbar-light-toggler-border-color: rgba($primary, .0);


$navbar-toggler-padding-y:          .35rem;
$navbar-toggler-padding-x:          .6rem;
$navbar-toggler-font-size:          $font-size-lg;
$navbar-toggler-border-radius:      0;
$navbar-toggler-focus-width:        0;
$navbar-toggler-transition:         box-shadow .15s ease-in-out;

$navbar-light-brand-color:          $navbar-light-active-color;
$navbar-light-brand-hover-color:    $navbar-light-active-color;
$navbar-dark-brand-color:           $navbar-dark-active-color;
$navbar-dark-brand-hover-color:     $navbar-dark-active-color;
